# Main database
DATABASE_URL=  # @required @type url
DB_NAME=  # @required
DB_PORT=5432  # @type number
APP_SECRET=  # @required
DEBUG=false  # @type boolean
LOG_LEVEL=info  # @type string
REDIS_URL=  # @required @type url
PORT=3000  # @type number
